body{
    background-image: url('nature-product-backdrop-farm-sunlight.jpg');
    background-repeat: no-repeat;
   
}
h1{
    padding-right: 600px;
    position: absolute;
      top: -13px;
      left: 15px;
}
.container{
    
    display: flex;
    width: 100%;

    align-items: right;
    justify-content: right;
}

nav{
    width:500px;
    height: 50%;
    color:rgb(218, 255, 218);
    border-radius: 30px;
    background-color: transparent;
}
nav ul{
    padding-left: 35px;
}
.name{
    align-items: left;
}
.menu{
    display: inline-block;
    font-family: Century Gothic;
    font-weight: bold;
    text-decoration: none;
    color: green;
    padding:7px 17px;
    border: 1.5px solid transparent;
    cursor: pointer;

    border-radius: 30px;
}
.logo{
    align-items: left;
}
nav ul li:hover{
    background-color:rgb(218, 255, 162);
    transition: background-color 0.5s;
    color:green;
}
nav ul li a{
    text-decoration: none;
    color:green;
}
nav ul li a:hover{
    text-decoration: none;
    color:green;
}
